<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
        <script type="text/javascript">
          	function Save() {
              	document.getElementById("PageOfficeCtrl1").WebSave();
              	document.getElementById("PageOfficeCtrl1").Alert("保存成功，返回值为：" + document.getElementById("PageOfficeCtrl1").CustomSaveResult);
        	}
        </script>
        <script type="text/javascript">
         function AddSeal() {
			try{
        	  document.getElementById("PageOfficeCtrl1").ZoomSeal.AddSeal();
			}catch (e){

			};
        }


        function submit() {
			    alert("提交到文件服务器");
        }

        function AfterDocumentOpened() {
            document.getElementById("PageOfficeCtrl1").SetEnableFileCommand(3, false); // 禁止保存
            document.getElementById("PageOfficeCtrl1").SetEnableFileCommand(4, false); // 禁止另存
            document.getElementById("PageOfficeCtrl1").SetEnableFileCommand(5, false); //禁止打印
            document.getElementById("PageOfficeCtrl1").SetEnableFileCommand(6, false); // 禁止页面设置

            //打开文件的时候，给word中当前光标位置赋值一个文本值
            document.getElementById("PageOfficeCtrl1").Document.Application.Selection.Range.Text = "你可以编辑啦";
        }
  		</script>
        
    </head>
    <body>
        <h1 th:inline="text">模板编辑器</h1>
        
        <div style="width:1000px;height:700px;" th:utext="${pageoffice}"></div>
    </body>
</html>
